# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Downloaded assets - avoid copyright issues
public/shoe*.jpg
public/heel*.jpg
public/flat*.jpg
public/boot*.jpg
public/sneaker*.jpg
public/sandal*.jpg
public/stevie-*.jpg
public/classic-*.jpg
public/ballet-*.jpg
public/canvas-*.jpg
public/leather-*.jpg
public/block-heel-*.jpg
public/mesh-*.jpg
public/three-strap-*.jpg
public/fisherman-*.jpg
public/heeled-sandals-*.jpg
public/wedge-sandals-*.jpg
public/designer-slides-*.jpg
public/strappy-sandal-*.jpg
public/slide-sandal-*.jpg
public/wedge-sandal-*.jpg
public/heeled-sandal-*.jpg
public/designer-sandal-*.jpg
public/platform-heel-*.jpg
public/comfort-oxfords-*.jpg
public/designer-mules-*.jpg
public/combat-boots-*.jpg
public/*.webp
public/*.avif
public/*.jxl
public/*.svg
public/*.js
public/*.css
public/*.html
public/all-products_data/
public/all-products.html
